
<ng-container *ngIf="(data$ | async) as data">
<div class="car">

  <h2>{{data.car?.description}}</h2>

  <img class="car-thumbnail" [src]="data.car?.iconUrl" *ngIf="data.car">

  <table class="parts-table mat-elevation-z7" *ngIf="data.Parts.length">

    <thead>
      <th>#</th>
      <th>Description</th>
    </thead>

    <tr class="part-row" *ngFor="let Part of data.Parts">
      <td class="description-cell">{{Part.description}}</td>
      </tr>
 

  </table>

</div>
</ng-container>









